<section id="section_list_index">
  <div class="container">
    <div class="row">

      <div class="col-md-8 offset-md-2">
        <%= form_for @list do |f| %>
          <%= f.text_field :title, placeholder: "+ ADD Task", class: "form-control form-control-lg" %>
        <% end %>

        <% @lists.each do |list| %>
          <div class="card mt-3 mb-3">
            <div class="card-body">
              <div class="row">
                <% if list.done? %>
                  <div class="col-md-2 text-center">
                    <%= link_to complete_list_path(list), method: :patch do %>
                      <i class="fas fa-check-square"></i>
                    <% end %>
                  </div>
                  <div class="col-md-8"><h4 class="card-title text-muted"><del><%= list.title %></del></h4></div>
                  <div class="col-md-2">
                    <i class="far fa-star mr-4"></i>
                    <%= link_to edit_list_path(list) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                  </div>
                <% else %>
                  <div class="col-md-2 text-center">
                    <%= link_to complete_list_path(list), method: :patch do %>
                      <i class="far fa-square"></i>
                    <% end %>
                  </div>
                  <div class="col-md-8"><h4 class="card-title"><%= list.title %></h4></div>
                  <div class="col-md-2">
                    <i class="far fa-star mr-4"></i>
                    <%= link_to edit_list_path(list) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>




<% @lists.each do |list| %>
  <ul>
    <li>
      <%= list.title %>
      <%= link_to "Show", list_path(list) %>
      <%= link_to "Edit", edit_list_path(list) %>
      <%= link_to "Delete", list_path(list), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  </ul>
<% end %>

